@import ./variables.sass

header
    background-color: $secondary-color
    border-bottom: $header-b-border
    color: $header-text-color
    text-align: center
    position: fixed
    width: 100%
    z-index: 10
    top: 0

    a
        color: $header-text-color
        text-decoration: none
        padding: 1rem 2rem 

        &:hover
            color: $text-hover
