@import ./variables.sass

*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none !important
    list-style: none



body
    font-family: $text-font
    font-size: $text-size
    color: $text-color
    background-color: $primary-color


.page-body
    margin-top: $header-height
    height: calc(100dvh - $header-height)


.flexbox
    display: flex
    align-content: center
.flex-column
    flex-direction: column
.flex-row
    flex-direction: row
.justify-center
    justify-content: center
.justify-between
    justify-content: space-between
.justify-end
    justify-content: flex-end
.justify-start
    justify-content: flex-start